@import "variables";
html {
  font-size:16px;
}
body{
  background-image: url("http://gruszkiewicz.pl/background.gif");
  font-family: $font-stack;
  text-align: center;
  color:$font-color;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

article {
  max-width:1200px;
}
ul {padding: 0;}
li{
  display:inline;
  a{
    color: $font-color;
    font-weight: bold;
    text-decoration: none;
    font-size:2rem;
    padding: 0 1.5rem;
  }
}
nav, section  {
  background-color:#fff;
  font-size:1.5rem;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  line-height: 1.25em;

}
section{
  padding:2rem;
}

h1, h2, h3, p {
  font-size: 1.5rem;
}

a:active, a.active, a:hover {
    color:#E35830;
}
#test1, #test2{
  span{
    width:25px;
    display:inline-block;

  }
}
.faq{
  text-align:left;

}
@media screen and (max-width: 1366px) {
  article {max-width: 70%;}
}
@media screen and (max-width: 1024px) {
	html {font-size: 12px;}
  article {max-width: 80%;}
}
@media screen and (max-width: 480px) {
	html {font-size: 10px;}
  article {max-width: 90%;}
}
